/* src/components/header.css */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background: #ffffff;
    /* Thay đổi màu nền thành trắng */
    color: #000000;
    /* Đổi màu text thành đen để tương phản */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Thêm bóng nhẹ để phân biệt header */
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.header-left h3 {
    margin-left: 10px;
    display: inline;
    color: #000000;
    /* Đảm bảo màu text của "Expand Menu" là đen */
}

@media (max-width: 768px) {
    .top-header {
        padding: 0 8px;
    }

    .header-left h3 {
        font-size: 14px;
    }

    .header-right {
        gap: 5px;
    }

    .header-right span {
        font-size: 12px;
    }

    .ant-avatar {
        width: 32px !important;
        height: 32px !important;
        line-height: 32px !important;
    }

    .ant-switch {
        transform: scale(0.8);
        margin-right: 8px !important;
    }

    .ant-badge {
        font-size: 12px;
    }
}